.container {
    display: flex;
    width: 960px;
    margin: auto;
}

.about {
    padding: 20px;
    background-color: darksalmon;
}

.about img {
    width: 300px;
}

.content {
    padding: 20px;
    background-color: goldenrod;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
}

.red {
    color: #f00;
    text-decoration: underline;
}

.green {
    color: #0f0;
}

.blue {
    color: #00f;
}