h1,
h2,
small {
    font-family: "Noto Sans TC", sans-serif;
}
li{
    font-size: 24px;
}

.container {
    width: 1200px;
    margin: auto;
}
.name {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-bottom: 3px solid #000;
}

.name .propic {
    width: 300px;
    border-radius: 50%;
}

.name .title {
    font-size: 54px;
    font-weight: 500;
    margin-left: 20px;
}

.title small {
    font-size: 24px;
    font-weight: 300;
    display: block;
    margin: 10px 0;
}

.about {
    padding: 20px;
    border-bottom: 3px solid #000;
}

h2.title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}

.about .material-icons {
    font-size: 36px;
}

.about ul {
    margin: 0 10px;
}

.about li {
    display: flex;
    align-items: center;
}

.about span {
    color: #97caef;
    margin-right: 5px;
}

.experience {
    padding: 20px;
    padding-bottom: 40px;
}

.experience ul {
    position: relative;
    padding-left: 10px;
    margin-top: 30px;
}

.experience ul::before {
    content: "";
    position: absolute;
    left: 18.5px;
    top: 10px;
    width: 3px;
    height: 130px;
    background-color: #97caef;
    display: block;
}

.experience li {
    position: relative;
    padding-left: 30px;
    padding-bottom: 20px;
}

.experience li::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #97caef;
    border-radius: 50%;
}

.experience .last::before {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 2px solid #97caef;
    border-radius: 50%;
}

.footer {
    background-color: #97caef;
    padding: 60px;
}

.footer .link-list {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer a {
    display: block;
    font-size: 20px;
    text-align: center;
    color: #fff;
    transition: ease 0.3s;
}

.footer li {
    padding: 5px 0;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: ease 0.3s;
}

.footer li:hover {
    background-color: #fff;
}

.footer li:hover a {
    color: #97caef;
}
