.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

.button-group {
    padding: 20px;
    display: flex;
}

.btn {
    background-color: #1597E5;
    color: #fff;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

button:disabled {
    display: none;
}

.btn-restart {
    background-color: #1597E5;
    color: #fff;
    border: 0;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
}

.board {
    border: #000 3px solid;
}

img {
    display: none;
}